
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    width: 100%;
    margin-bottom: 20px; 
           
}
.btn{
    background-color: #6B00BD;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-left: 15px;
    width: 278px;
    height: 86px;
    
}