@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #ddd;
  z-index: 10;
  display: block;
}

.navbar {
  position: relative;
  top: 0;
  left: 80px;                     
  width: calc(100% - 80px);      
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 45px;                   
}


/*.search-bar {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 350px;
  margin-right: 30px;
}
*/
.search-bar {
    padding: 16px 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 40px;
    width: 400px;
}

/*.notification-icon,
.user-avatar {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  object-fit: contain;
}
*/
.notification-icon, .user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 30px;
}
.main {
  margin-left: 80px;
  margin-top: 70px;         
  padding: 30px;
}

