@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(115deg, #6366f1, #fee2fe);
}

.submit {
    background-color: #6366f1;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    width: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #818cf8;
}

.signup-link {
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    border: 2px solid #6366f1;
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
    color: #6366f1;
    transition: background-color 0.3s ease;
}

.signup-link:hover {
    background-color: #8b5cf6;
    color: #fff;
}

#form_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    background-color: #f6f8ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);    
}

#form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form_title {
    font-weight: 500;
    color: #272727;
    position: relative;
}

#form_title::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 30px;
    background-color: #8B5CF6;
    left: 0;
    bottom: 0;
}

#form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.input_container {
    display: flex;
    gap: 24px;
    position: relative;
    
}

.input-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 20px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  min-width: 300px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);    
}

.form-control {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
}

.input-field .password-icon:hover {
    cursor: pointer;
    color: #676770;
}

.form-control:focus {
    outline: none;
}

.input-container input:focus-within {
    outline: 2px solid #8B5CF6;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    color: #000;
}

@media screen and (max-width: 500px) {
    #form_container {
        width: 100%;
        min-height: 100vh;
        padding: 32px;
    }

    #input_container {
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    .form-control[type="date"] {
        background-color: #fff;
    }
}