@import ".src/styles/partials/contacts.css";
@import ".src/styles/partials/home.css";
@import ".src/styles/partials/register.css";
@import ".src/styles/partials/report.css";
@import ".src/styles/partials/settings.css";
@import ".src/styles/partials/tasks.css";

