<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UseTrack</title>
    <link rel="stylesheet" href="../styles/partials/contacts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../components/sidebar-component.js"></script>
</head>
<body>
  
<side-bar 
style="position: absolute;">
</side-bar>

    <main>
      <header class="navbar">
          <div class="nav-bar">
            <input type="text" class="search-bar" placeholder="Pesquisar...">
            <img src="../assets/notification-icon.png" alt="Notificações" class="notification-icon">
            <img src="../assets/user-avatar.png" alt="Avatar" class="user-avatar">
          </div>  
      </header>
        <div class="container">
            <div class="header-row">
              <div class="Title">Contatos</div>
                <button class="btn-primary" onclick="location.href='add-contact.html'">Adicionar Contato +</button>
              </div>
              <div class="text">Gerencie seus contatos e leads</div>
        </div>  
    </main>


 

</body>
</html>
