<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UseTrack</title>
    <link rel="stylesheet" href="../styles/partials/SideNavBar.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous">
    <script src="../components/sidebar-component.js"></script>
</head>
<body>
    <side-bar></side-bar>
     <header class="navbar">
        <input type="text" class="search-bar" placeholder="Pesquisar...">
        <img src="../assets/notification-icon.png" alt="Notificações" class="notification-icon">
        <img src="../assets/user-avatar.png" alt="Avatar" class="user-avatar">
    </header>
    <main class="main"></main>
</body>
</html>