@import ".src/styles/pages/contacts.css";
@import ".src/styles/pages/home.css";
@import ".src/styles/pages/register.css";
@import ".src/styles/pages/report.css";
@import ".src/styles/pages/settings.css";
@import ".src/styles/pages/tasks.css";

